@import url('https://fonts.googleapis.com/css?family=Roboto');

body
{

  background-image: url("sunflower.jpg");
  font-family: 'Roboto', sans-serif;
}
h1,h3,p
{
  color: black;
  text-align: center;
  font-style: italic;
}
h2
{
  margin:0px;
  text-align: center;
  text-transform: uppercase;
}

h6{
  margin:0px;
  text-align: center;
  color:#777;
}

.wrapper{
  text-align:center;
  margin:50px auto;
}

.tabs{
  margin-top:50px;
  font-size:15px;
  padding:0px;
  list-style:none;
  background:#fff;
  box-shadow:0px 5px 20px rgba(0,0,0,0.1);
  display:inline-block;
  border-radius:50px;
  position:relative;
}

.tabs a{
  text-decoration:none;
  color: #777;
  text-transform:uppercase;
  padding:10px 20px;
  display:inline-block;
  position:relative;
  z-index:1;
  transition-duration:0.6s;
}

.tabs a.active{
  color:#fff;
}

.tabs a i{
  margin-right:5px;
}

.tabs .selector{
  height:100%;
  display:inline-block;
  position:absolute;
  left:0px;
  top:0px;
  z-index:1;
  border-radius:50px;
  transition-duration:0.6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);

  background: #05abe0;
  background: -moz-linear-gradient(45deg, #05abe0 0%, #8200f4 100%);
  background: -webkit-linear-gradient(45deg, #05abe0 0%,#8200f4 100%);
  background: linear-gradient(45deg, #05abe0 0%,#8200f4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05abe0', endColorstr='#8200f4',GradientType=1 );
}
.boxed {

  margin: auto;
   background-color: #ffffff;
   border: 1px solid black;
   opacity: 0.6;
   filter: alpha(opacity=60); /* For IE8 and earlier */
  border-radius: 25px;
      border: 2px solid #73AD21;
      padding: 20px;
      width: 1000px;
      height: 400px;
      position:absolute;

}
.greenText
{
color: green;
text-shadow: 4px 3px #ffffff;
border-style:dashed;
border-color:black;
}
